<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="png" href="{% static 'images/favicon.png' %}">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
<style>

</style>
        <title></title>
    </head>
    <body>
        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
        </a>
        
        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">Synergy Sphere</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#share" class="nav__link">Community</a></li>
                        <li class="nav__item"><a href="#decoration" class="nav__link">Explore</a></li>
                        <li class="nav__item"><a href="/roadmap" class="nav__link">roadmap</a></li>
                        <li class="nav__item"><a href="/note_taking" class="nav__link">visualize Notes</a></li>
                         {% comment %} <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li> {% endcomment %}
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__img">
                        <img src="{% static 'images/home.png' %}" alt="">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title">Empowering Minds, Energizing Bodies, Enriching Lives</h1>
                        <p class="home__description">Welcome to Synergy Sphere, your all-in-one platform for academic success, physical well-being, financial guidance, and vibrant community engagement.</p>
                        <a href="/pages/Login/log.html" class="button">Get Started</a>
                    </div>   
                </div>
            </section>

            <!--========== SHARE ==========-->
            <section class="share section bd-container" id="share">
                <div class="share__container bd-grid">
                    <div class="share__data">
                        <h2 class="section-title-center">Sharing Is The Best Gift <br> You Can Give</h2>
                        <p class="share__description">Engage in discussions, share knowledge, and access valuable resources for holistic growth and support.</p>
                        <a href="#" class="button">Join a community</a>
                    </div>

                    <div class="share__img">
                        <img src="{% static 'images/shared.png' %}"alt="">
                    </div>
                </div>
            </section>

            <!--========== FEATURES ==========-->
            <section class="decoration section bd-container" id="decoration">
                <h2 class="section-title">Unleash Your Potential with <br> Our Comprehensive Toolkit for Success</h2>
                <div class="decoration__container bd-grid">
                    <div class="decoration__data">
                        <img src="{% static 'images/decoration1.png' %}" alt="" class="decoration__img">
                        <h3 class="decoration__title">Time Craft</h3>
                        <a href="/optimize/" class="button button-link">Optmize Your Day</a>
                    </div>

                    <div class="decoration__data">
                        <img src="{% static 'images/decoration2.png' %}" alt="" class="decoration__img">
                        <h3 class="decoration__title">Brain Boost</h3>
                        <a href="#" class="button button-link">Strengthen Your Mind</a>
                    </div>

                    <div class="decoration__data">
                        <img src="{% static 'images/decoration3.png' %}"alt="" class="decoration__img">
                        <h3 class="decoration__title">Budget Buddy</h3>
                        <a href="/expense/" class="button button-link">Track Your Expense</a>
                    </div>
                </div>
            </section>

            
            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
          
                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    this.parentElement.classList.toggle("active");
          
                    var pannel = this.nextElementSibling;
          
                    if (pannel.style.display === "block") {
                      pannel.style.display = "none";
                    } else {
                      pannel.style.display = "block";
                    }
                  });
                }
              </script>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section">
          <div class="footer__container bd-container bd-grid">
              <div class="footer__content">
                  <h3 class="footer__title">
                      <a href="#" class="footer__logo">Synergy Sphere</a>
                  </h3>
                  <p class="footer__description">Discover, <br> Learn, <br>Thrive!</p>
              </div>

              <div class="footer__content">
                  <h3 class="footer__title">Our Services</h3>
                  <ul>
                      <li><a href="#" class="footer__link">Time Management Tools </a></li>
                      <li><a href="#" class="footer__link">Mental Wellness Support</a></li>
                      <li><a href="#" class="footer__link">Finance Tracking</a></li>
                      <li><a href="#" class="footer__link">Community Engagement</a></li>
                  </ul>
              </div>

              <div class="footer__content">
                  <h3 class="footer__title">Our Company</h3>
                  <ul>
                    <li><a href="#" class="footer__link">Blog</a></li>
                    <li><a href="#" class="footer__link">About us</a></li>
                    <li><a href="#" class="footer__link">Our mision</a></li>
                  </ul>
              </div>

              <div class="footer__content">
                  <h3 class="footer__title">Social</h3>
                  <a href="#" class="footer__social"><i class='bx bxl-facebook-circle '></i></a>
                  <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                  <a href="#" class="footer__social"><i class='bx bxl-instagram-alt'></i></a>
              </div>
          </div>
      </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>